<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>memberServlet</display-name>
    <servlet-name>memberServlet</servlet-name>
    <servlet-class>homePlanner.memberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>memberServlet</servlet-name>
    <url-pattern>/memberServlet</url-pattern>
  </servlet-mapping>
  <display-name>HomePlanner2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CreateTask</display-name>
    <servlet-name>CreateTask</servlet-name>
    <servlet-class>homePlanner.CreateTask</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateTask</servlet-name>
    <url-pattern>/CreateTask</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateTask</display-name>
    <servlet-name>UpdateTask</servlet-name>
    <servlet-class>homePlanner.UpdateTask</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateTask</servlet-name>
    <url-pattern>/UpdateTask</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TaskUpdate</display-name>
    <servlet-name>TaskUpdate</servlet-name>
    <servlet-class>homePlanner.TaskUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TaskUpdate</servlet-name>
    <url-pattern>/TaskUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteTaskServlet</display-name>
    <servlet-name>DeleteTaskServlet</servlet-name>
    <servlet-class>homePlanner.DeleteTaskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteTaskServlet</servlet-name>
    <url-pattern>/DeleteTaskServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListTaskServlet</display-name>
    <servlet-name>ListTaskServlet</servlet-name>
    <servlet-class>homePlanner.ListTaskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListTaskServlet</servlet-name>
    <url-pattern>/ListTaskServlet</url-pattern>
  </servlet-mapping>
</web-app>